<section>
	<h1>Lab1 -> Exemplos de bom e mau design</h1>
	<br>
	<br>

	<h2>Como abrir e fechar esta janela?</h2>
	<hr>
	<div class="center">
	<%= image_tag("window1.jpg", :alt => "Window", :height=> "300" ,:width=>"300", :class=>"img_wrap")%>
	</div>
	<br>
	<div class="center">
	<%= image_tag("window2.jpg", :alt => "Window", :height=> "300" ,:width=>"300", :class=>"img_wrap")%>
	</div>
	<br>
		<p>Nesta janela, o manipulo para trancar/destrancar a janela não é intuitivo.</p>
		<p>Tem 3 modos de funcionamento:</p>
		<ul>
		    <li>Manipulo para baixo: A janela fica trancada.</li>
		    <li>Manipulo para a direita: A janela pode ser aberta na horizontal</li>
		    <li>Manipulo para cima: A janela pode ser aberta na vertical</li>
		</ul>
	<br>
		<p>É necessário aprender primeiro como funciona, mas depois é fácil lembrar.</p>
	<br>

</section>
