<section>
	<h1>Stage 1: project proposal</h1>
	<br>
	<br>
	<h2>Objective: Elaborate the project proposal and set up the project web site.</h2>
	<h2>Description</h2>
	
	<p>The project proposal should be 1-2 pages long, including:</p>
	<ul>
		<li>Project title</li>
		<li>Group members: name and number of every group member (must be from the 
			same lab class)</li>
		<li>Problem description: Describe the problem you will try to solve during the 
			project. You should try to play the role of the users and describe their needs and 
			difficulties – not the solutions for their problems.</li>
		<li>Target users: Shortly, characterize the target user population.</li>
		<li>Project goal: Describe the main goal of your project and a possible solution to the 
			problem. You are not absolutely committed to this solution. You can modify your 
			solution during the project development, if the evaluation procedures recommend 
			a different solution.</li>
		<li>In case it exists, identify at least one application that competes with your proposed
			project, indicating what is good and bad about that design. Your project is 
			supposed to fix those wrong design issues.</li>
<br>
<br>
<h2> Our proposal:</h2>
	
	<a href="https://www.dropbox.com/s/h46j86cjf0ydrw2/InteliHome%20v2%20pdf.pdf?dl=0">Click here (Dropbox link)</a>
	<p></p>
</section>
