<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>IPMSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<body>
<nav>
  <ul>
    <li>
        <a href="#">Home</a>
    </li>
    <li>
        <a href="#">Assignments</a>
    </li>
    <li>
        <a href="#">Reports</a>
    </li>
    <li>
        <a href="#">About us</a>
    </li>
  </ul>
</nav>
<br><br>
<%= yield %>

</body>
</html>
